---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=es&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=bank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHAEAAFE3HCjxxrhFLJYVQta-5qWmQfw5yyEB2SpZe1PFUNkFqw-TWdjcEHbPXmXqk9VWgXy6DLaYofGd8JvebqeWxW-C_KmXCXKiVTI7VAUAapptFelism9se-6X0RwkRfH1cN-hPsGue20SL0ngM35qAMB7eGrtxDk5gEnpeS5pDtu9tpviOhAyYCFOnbclEKi-St9wEtrfn3fYykrc4pntr32iNJzBprn4EZldXmPxLXc-GqN7UrHVrXiPiRCZ07hwnM4mGPD4XejTb9sTdMBkgNqgA3shsVHI9TcaIQkbttFyVp4rChyw7pJfrhUz8FbdYadfKvWiT2b9yUDZbP98Du_BzpQJSmltED-aBrUiUPEAVdizKaL5ZphLLk7YB6tOiBIQuhADDvqxdnmWZYoR66-M3xoU3OmkZT-WlxgdFhKCaCxPe70r8lc",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAqdK0COV-QOuFbAGPHsqsDDXIy53I1nFJ9Mw_SJPkSvFuQMZ-fvBsKSIIbdWRlUDgxy_VvNskQFLbQpF-f1SoARmvPOhDzIoFl-lvT02YIuP0zFbldlIwwDLwEZcM27kyEhDy90j-gkCNNCMPd-uSZEzoGhTMdIJi4XUkpeXVFNAiM-aYKBx9dg",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, Estados Unidos",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4309881,
                       "lng" : -97.7610277
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4323686302915,
                          "lng" : -97.7597525697085
                       },
                       "southwest" : {
            [...]
