---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=en&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGwEAAPiNLwOzCdYKNA11CJUL5mUiC_krWNSPiaG3ed4Dhgd5Crq0oOyHkiDfC9TGmmHMPY010jUeN4kOriozk9-X2EgI2tIw4R47DFLvW49maW0SC1OthwHSz4gVH0gCyV5uvRLdCTqR3hN6bmlLmUiHJUTAkYd-mYKVRRp8-LToFEZClh4Bvxa9UtLT_3B7h7lMm8JReFHkmdarQO3wLAUJ2qKYP6-nVHdGmz4b8-CvJkUD4kRRPayVqAqaLnCd-VCJyWJqOFEfPakmLAdwADRtzHfu8sAt-6O8xfAuEZi3pAINXCCDq51amWLNRtwmIKYJrobgNxSl44AVKVR2LkIugEi8Yc9e6_xd6IwkLbyfVOe9_yyC7NmyJbI53BH2PXqUlxIQIwpWv_y8V5cbu1EpIlWhJhoUOS2is0Uhj46IElTF5PVz8FzisRI",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAR8B9R6d3iqHzhjuZ0srYC7-E6lNTmlz31rbLJ9kbmxBvsWDMufg0Bc5etINoX5Vl7K-8pkviPYchNXxY6vpUIXUVi5R-JTsjaVVxpiRDi572HRMnFQY42UxqDrYj1I_9EhDP-nuZdXKzZDAM8_kvd3U1GhTI41-1GJ9_MR1B_Pmk1DQVhi9kig",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, United States",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&pagetoken=CqQCGwEAAPiNLwOzCdYKNA11CJUL5mUiC_krWNSPiaG3ed4Dhgd5Crq0oOyHkiDfC9TGmmHMPY010jUeN4kOriozk9-X2EgI2tIw4R47DFLvW49maW0SC1OthwHSz4gVH0gCyV5uvRLdCTqR3hN6bmlLmUiHJUTAkYd-mYKVRRp8-LToFEZClh4Bvxa9UtLT_3B7h7lMm8JReFHkmdarQO3wLAUJ2qKYP6-nVHdGmz4b8-CvJkUD4kRRPayVqAqaLnCd-VCJyWJqOFEfPakmLAdwADRtzHfu8sAt-6O8xfAuEZi3pAINXCCDq51amWLNRtwmIKYJrobgNxSl44AVKVR2LkIug[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&pagetoken=CsQDuwEAAJ_2mNF1BreBhEoB4NotR5uRfPM6i4dwpzuzQIkzRN3NX8tymF8aVLBJdxsgmWj_AzV1gnvSHPyOOnYTHrxgZCi60hCVLSkYqOuTev84DnCMX6Ty-Sivu6MtbJxxmzAVO5evjcOUNxLS1YLJAoSOi_CLWhs4Wo4s-jqBv9H5_4IS-OR_nIXwVQXr4R6hB6KYJQq_O6JZLd-OL6PDZKqNcDSdj-v-2bKOoW1ER2GTG9vTh5FhFQmHJlfP8E2Dgduovqoijc__m4pSAr-I9NuHcD7tSPc4UlmpHTOrufpU51E_LNaRCSnqsbkcOvg-IIShkkDOsYzGWbHFvrH2BpvNs[...]
