---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=en&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGwEAACSgqjqVSV9bhvJclYGHlhDCXBTdaHPq2_KTJu3CRnBgUHmAFL3lGFz684DkyQCLu4zAXf5eq8q7UJkUIU9sre_36gYhTa1XGXusaYTHKcjx_KZfAxQMGp5OrWVCZ1bS5tUDwSxpjn04CHA2YEGNTG0WLzU82yeCFy-Gm0f2yhIiOfTrSRL62oPMd09tSniw6Acs-djsrW2Y8X4Fk0mNe-ss1GrPoUYnES-VFy9I00ilfFSvqB7r6di5aEkIP5oTZA5g9ZkoHza8CIkV5t8KvsSIDKaG6Hb2sf7_TN8QvYahx4zYD0NewV2tv5sZ7yiYWCIKunwiw2dshGTlfixeCNgw0cJ-PXfo_bi5ZhcqkA1n5rMvpXD-iOq_tYOrv4a0shIQFS5WTmydA2IqCTLLGQh0_RoUFB8d7lqpII_rCVW68qnrfesDinQ",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAMvLvBsZbXgnfGWKh16S9m2288_Ioba5W0m1I88MMN13i0l2hsdE308qVga1JEZxqrZQmKk-pCuAjxpUZPsNc-FgzKO3oG2NRYFpbF5LxEQiOA-TeEsIYq5n8rqteVox2EhCN1MJ57S7FLfI-EcYh38XpGhR_8ei5aF9vGKmQJRM9JVQeVIauUw",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, United States",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&pagetoken=CqQCGwEAACSgqjqVSV9bhvJclYGHlhDCXBTdaHPq2_KTJu3CRnBgUHmAFL3lGFz684DkyQCLu4zAXf5eq8q7UJkUIU9sre_36gYhTa1XGXusaYTHKcjx_KZfAxQMGp5OrWVCZ1bS5tUDwSxpjn04CHA2YEGNTG0WLzU82yeCFy-Gm0f2yhIiOfTrSRL62oPMd09tSniw6Acs-djsrW2Y8X4Fk0mNe-ss1GrPoUYnES-VFy9I00ilfFSvqB7r6di5aEkIP5oTZA5g9ZkoHza8CIkV5t8KvsSIDKaG6Hb2sf7_TN8QvYahx4zYD0NewV2tv5sZ7yiYWCIKunwiw2dshGTlfixeC[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&pagetoken=CsQDuwEAAGTSGOXTUvlyrwpfHRHeCTOh-hbYoSKqw1j1ecZxhK6DD6huRwP6OS7CVxlAFD50AH26GhRqilSlo794Qz079hW7DlhVBjpcoi_2d4MDyQZ-bfjOsgG8jDIdJ0NeHSTXfV6vj2QQRaWeIFXTGr0SbAJJZFhxTqbHnGSKRmf4KluO-JBad-O91Oepir4zTQ8sa4e50mGKhqu0wRtM1Irrkx8uW8_5a0ElTJXWECia_11cu3BaJ_HBrfWGaChrdCIrS0obqZHBii_txnjE0HsYnLrPX0kMd2qAXTP4XAsDsUvwrzbKRgxfUcTTlu23rOOQ0LOl-sm3k7WWHX7y11mYN[...]
