---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHgEAALjWELrQRGPcnbjtyJHUWSQ1y7y-Sjb2djEBZJBy50D_a_cNRGQEeGYUcRxA_VAy_xCEcWLBIRVrHlNPQ3OhLo1tRnQanCLne0tXwfg-uh9GTQ2pI5_2GfVT4h24odZX8r2_YSmgdQ8dqX6yyCa423bMqiekEkpZaI9TujfGJ-3cNHZXkzuAFGGH2-pDL-P4C7VDBkSUSa0dOJS-4JorW3V-o03W6wT7z0OvNqr9yo8cpLBwWVtTlsw7JOb9th0FJyzo09quh8YC8fhgASt2_YcUzrBCeBBuc3LxtTf9IKHae_6yfQf1kUH5bafi3FSjaNfMJvnmVXwzPD-PZp9LBN-u0UKSRL7ay8cxeRAnc9-hhCHRKKpFTd9rslRpkjOWOBIQv0A4qLQuGjEqTgI7TulLfhoU-6QrSdxAJ89VdIvys0AD5DchfR4",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAcDK4jGerMD-U-3V5P-we22FDFKCgyBg8BB0b67QgMKfkSBa9rxz_r9jRRVqSQ2vnAbcIBQEx3rYMTjF3d24YuDBOkH52z9Gp7f024VUXZO43wHB5vyfZSHil7nerjrAzEhChQqv3VqIqu6T_9_smBUNEGhRMUYMyAIb2v3Bt7w3jfRx3DaAffw",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, United States",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
