---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm%7Cbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHgEAAAJSuhtS4XXpDtZXuRZ7jF0aQT0iAyCCk0-V945PnDKvIUYr6ZZWPQCsuPmzdAsg9iIxwczBmyvUS4d4d_BSCOwesvfqRDyDuh61qN_mmacvc-urBoIvQ6g_oJ1iHE9_ahRqrnXOZPaI4k6EEZXVBoi_JuumAIitcvPAfMAQlOJ1zyAoQK6JPxSs2NsBKb7QFXNjyM_D3MIP3BN1TZcR0A7MwdRwabMIrSKvoG6RugObgwSN7qyfMfIsE-kzj3zga_KA6xdrR-Y9sztOT0hnoLDPdQrhAC151iZemoBpTfG_xlhCaGdgxlaS4OiumR0N2i-i43x7xBMho1VMT6NL1FEYU2Hib6rsj8ekkYTnQmpIZ4zeOo3gcysmZvXSna5PIxIQ3C9QXIIBFJaU_4LXq9ZuGRoUSW7m-l4XDvZ4PRVAxNaJt_xPwGM",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAaZxjOXppGAlnYvybuy1i3pDkI0RkhGs8Kp2MS7Pg79OognCvg4K_rXH14G_tKpu5pKAGq5telqws6-OHyvOAmPUlfycae-JAQVwLaOcGX3n5T_95FQpEhClcSK6oQEBwEhAxE6EBvtm_pfAzmkbSvSVQGhTAyTx5mkV8S84fHgigeicv_uGKuw",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, United States",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
