---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=&location=30.42847500,-97.75505000&name=&radius=&rankby=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGQEAAI2_W9hY-gTnB4IHdnc8qRbQ9Yd9rsn0oLp1Rj1q8vhRw38fXuLBoDYCscS5J23G1lEv6pXFBvzWunpq3qjCUP9pQTmzq_aagzXJHFvYa2SfUrxA9XOYoeXSzdmjzsP8WvRYDsGbNdOiP3Kzb6yrN8EzfnJl9iDLy87YEOugxZRAl8Bb2Y1R_WQODeGuDWDd9lQDO-GtJMUdLNZKR-dIAOt6Er92ExYfSNdgk9Xyo9s_hgWmQJMP3v9lft208Jc-5cUW2V0eo0N_ymWh2H3XRflsV1dcVsm8G1XlgXvffc8xsu9Ik-QM136BzeTjRLSHtRGb4XA9wxTMCC2PB2zwhLFBeawfLgNZ7gO-xDjBpO5YYxBkTCYcLbE6U5qcRFiJbBIQcDtxvBGXZWWBRE2nBEXNCxoUquvMJXf96_rFqLdDDySjIdtQz0o",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4284752,
                       "lng" : -97.7550497
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4296826802915,
                          "lng" : -97.7537735697085
                       },
                       "southwest" : {
                          "lat" : 30.4269847197085,
                          "lng" : -97.75647153029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "c1ab60cff0c425a4f3e400eb13bb79413fde85fc",
                 "name" : "Yardi Systems",
                 "place_id" : "ChIJ7Xgji-TMRIYRb93d4daNEew",
                 "plus_code" : {
                    "compound_code" : "C6HV+9X Austin, Texas, United States",
                    "global_code" : "8624C6HV+9X"
                 },
                 "rating" : 5,
                 "reference" : "ChIJ7Xgji-TMRIYRb93d4daNEew",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "vicinity" : "12301 Research Boulevard #100, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4284752,
                       "lng" : -97.7550497
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4296826802915,
                          "lng" : -97.7537735697085
                       },
                       "southwest" : {
       [...]
