---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=es&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm%7Cbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGwEAAEblwuaUPFFNBq7tCknsH_P6hwapVjHQhHcZVJSN5nkuD29i7-MeudC4w4NBtQPPyH_Qf2lgR7g7UGVSXvHkn2Y5ZPZRDAlgWLUN0A74FqMfH9e3dey0zP2J7J1FWM7VNGwOxQ_YbpBgTODTrLI76C7sFygiUrqS00VSxVvJFs0cqvFq-g8Mjvtz8H9TqSS0UyaVb7hxN-3vpKOOpEPzhDYiDuyYIfykuMJLlmuzSEGJMk1B7Ai14ahZfo1KANU9Y8qQLZquD-8j0DN__rBJ3lkkUZTs9Mh6hm0eiUGCJRrkuqmTA5jroSfYUI141vSU5H_k6K55gx1UEZckzFqfVplj5XtolH8N_EnQKPdLsvJSoJmmGx4lTe8hFQTeTbAQ_RIQa7IYlU3HeyR48LzyqCmeTRoUkngVzlGDA2q-H6WHLhIBTS48DeU",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAwfuthwhPEAfhkpZHwczcuSEJIAABBxotYEh9tuccNi6nD65S41yRIZRzdIHJrjNMIJvXd7FnQFuvS_HMy1iqfUl_YJtheUYj2DVY1bbL7Y_RzPrPxQYUebW5OBu-M0ZHEhDPiNLnhFA09LXOLUSudMuZGhRxI2kTaBEUKvhG5tefm8f2lcBxZw",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, Estados Unidos",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
