---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=es&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm%7Cbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGwEAAHt7jNSrYd9DBCb3DWjxPJunW0tV2y3q76P1T09a3FDE-N7QPtTFWw7hG3Pc48goiuO--WYTsxAeEc5JwkW9zflgOl2_lm9jNRMjCxHQF5ZVd45pZL2n49Bs2cEgsuflKMVPgko_wZKrMh-0fJbmWqHCodfgDLbuf17CwAyjVfEXlSWGFpiFL6yfdS1KbVU5x6ILGy40ROpYIndTasEE3rHEaTd--Omw9w5N6d9ypS72octMpKP0DwyoK-7xATkmgZS0IKt-EQ6Xl8DtQzgw2sEeRbUOxMuS6mq8kfY_Bvw533KFcOaPPhMg95awbav-FHsFrUl2_Jfwn36wn5idILI8oJO2HFFEbnPp3NyLhnhGk9QluDQx3_FEjapwX0O0HhIQl3IP-pihoQpjPXzXItG4ehoUx8yoj1RpoPmYGUnOQW2Lpvpf-64",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAy_WfScDSpqwbnxlNumXiDbW_TAN6pliktIHu443ApIPUdMuMcqTHIA-k4tOgZ7zu-UPXhuVkmAWtloNNUM0tQCm3Q_6c57anZHtZIsTtd2kmmXFG3T8eV9OVy3bOMzw5EhDbhaWqnvstNlIOKhy3KFmFGhQkpkMfwRcKMBLuLdA50sG8_6VZlA",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, Estados Unidos",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
