---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=&location=30.42847500,-97.75505000&name=&radius=&rankby=distance&types=atm%7Cbank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCHgEAAFINl0wujYDDb4Nt-cUGSFHxQPy7m0JglgqfK4r5weohuFUuPX-SAPf8d2zw91g-RxPM0zt6T7-M-l2IM9NdSeba9IA8aNyt9NuxGlblrGKgHMdqpIzvH0_pXIb8rLcucLIokwI1DF_4dpjrW6aRUDhPOw7F1vAHY_SWAQAKhiJKAMUXpdjQkp7wiqNMl_fxfzP2FDk3ItwRhL3BjUzTsDtfFox6D3Z7NqTFWW3RwPZB5NlMhJCo5mIAnVSZ4ekJdEvSeQh87HVuOmBwgygx0Fmez01pCaBxVlSfBOySXgkFodiL6Ovg3JipLL7LZIDJ7f6BcEfoxQRLm8ER3_YQuMHbpTdMp005ptPfaH61ZHThvh068OyX5f3R1Bc_KuravhIQJGPsmQEMxVoLBUERU1omHhoUjD2coD7H25O2Lv3YV6qF5m7MEwU",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.42595,
                       "lng" : -97.75458599999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.42739448029149,
                          "lng" : -97.75317946970848
                       },
                       "southwest" : {
                          "lat" : 30.4246965197085,
                          "lng" : -97.75587743029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/bank_dollar-71.png",
                 "id" : "2fef0ce113257d5e507c4169dd2243c8203a2fef",
                 "name" : "Chase Bank",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 2620,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108179458561089234067/photos\"\u003eBenny Prukop\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAA72UIxr3W25lJe8Hh22zpxBXY7vfde7m7gRRMOhDc2y4z3a4pfEWdB7Tn5U1fcIPxqqVjVzXXRpafFjdJxmLTKfS0NDDUvJ9ljIAcO6ex_0XjMvGh2qZ6LlehQwtUeZyPEhDTGjTAaKPZXKtNFZ9RnWiEGhRPQphMbwwSSYEL_Sj-DJUO1cVNVw",
                       "width" : 4656
                    }
                 ],
                 "place_id" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "plus_code" : {
                    "compound_code" : "C6GW+95 Austin, Texas, United States",
                    "global_code" : "8624C6GW+95"
                 },
                 "rating" : 3.6,
                 "reference" : "ChIJ664LsfrMRIYREOhT6CpcZbs",
                 "scope" : "GOOGLE",
                 "types" : [ "bank", "atm", "finance", "point_of_interest", "establishment" ],
                 "vicinity" : "12222 Research Boulevard, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4259112,
                       "lng" : -97.75462739999999
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4272001302915,
                          "lng" : -97.75331586970849
                       },
                       "southwest" : {
    [...]
