---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyAvvuq7oyY5l7w_3ruvihI3Xdjjd1EEdhE&language=&location=30.42847500,-97.75505000&name=&radius=&rankby=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGQEAAJ_sgdvtJuzHNbam-Sf3rcHBvIT0Cy-V6bSDWGhww3Dci2zJ1AcBQa0fQAD3U70CPCQmH8wF-8RiYEF80SL30q1K2jQ17UobnHFyKnZgPvBBWVxVNpOxPeaHU86o_iqoDfI-_SdvStD6fu9T-_uYmNmCiNthEuQcFB2UpkYbEENxl0o6PuzPBpoAZ9kKfBCTjmDk0MVU1pSBkvDDRQiAyy6VAlzjNaxggbTxfOYFgrfRIeVhtU7J93UTHi372Vm7A6kDOezDXDLbqpG6skVwobYRDXMWmVUsVCZq_JkuR_K3XMBNjHDudt17Qsic7H-j7ElboduYB_gJnOmD0-awCVIIrdmKsLX1-A0rIoK-wlHzSVy1fO0UXbDNfCtXtBWCGxIQN0CcodpG9oq1_qUcULrqgRoUsAnKVA4ce-wucXp76rwKDxQqx5I",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4284752,
                       "lng" : -97.7550497
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4296826802915,
                          "lng" : -97.7537735697085
                       },
                       "southwest" : {
                          "lat" : 30.4269847197085,
                          "lng" : -97.75647153029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png",
                 "id" : "c1ab60cff0c425a4f3e400eb13bb79413fde85fc",
                 "name" : "Yardi Systems",
                 "place_id" : "ChIJ7Xgji-TMRIYRb93d4daNEew",
                 "plus_code" : {
                    "compound_code" : "C6HV+9X Austin, Texas, United States",
                    "global_code" : "8624C6HV+9X"
                 },
                 "rating" : 5,
                 "reference" : "ChIJ7Xgji-TMRIYRb93d4daNEew",
                 "scope" : "GOOGLE",
                 "types" : [ "point_of_interest", "establishment" ],
                 "vicinity" : "12301 Research Boulevard #100, Austin"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 30.4284752,
                       "lng" : -97.7550497
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.4296826802915,
                          "lng" : -97.7537735697085
                       },
                       "southwest" : {
       [...]
